/* ---------- CARRUSEL PRINCIPAL ---------- */
.slider-carrusel {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: block;
  align-items: center;
  box-sizing: border-box;
  padding-inline: clamp(12px, 3.5vw, 64px);
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 1s ease;
  opacity: 0;
  transform: scale(1.05);
}

.slide.activo {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

/* Carrusel imagen*/
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 3;
}

.overlay .button {
  background-color: var(--color-bg-accent);
  border: none;
  clip-path: polygon(10% 10%, 90% 10%, 100% 50%, 90% 90%, 10% 90%, 0% 50%);
  border-radius: var(--radius-md);
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 1rem;
  color: var(--color-text-primary);
  font-size: clamp(18px, 1.5vw, 3rem);
  pointer-events: auto;
  cursor: pointer;
  margin-top:100px;
  transition: background 0.3s;
}

.overlay .button:hover {
  transform: scale(1.1);
  transform: translateY(-10%);
  background-color: var(--color-text-primary);
  color: var(--color-bg-accent);
}

/* Responsive*/
@media (max-width: 480px) {
  .slider-carrusel {
    height: 50vh;
    padding-inline: 8px;
  }
}
