.footer {
  border-top: var(--border-width-normal) solid var(--color-border);
  padding: var(--padding-footer);
  font-size: var(--font-size-footer);
  background-color: var(--color-bg-accent);
  color: var(--color-text-primary);
  text-shadow: var(--text-shadow-footer);
  font-family: var(--font-main);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
