.info-juego {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.portada-info {
  width: 100%;
  height: 400px;
  object-fit: fill;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.info-juego h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-juego p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.btn-jugar {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--color-bg-accent);
  color: var(--color-text-primary);
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 0.3s;
}

.btn-jugar:hover {
  background-color: var(--color-text-primary);
  color: var(--color-bg-accent);
}
