/*---------------GENERAL------------------*/
.noticia-contenedor {
  max-width: 1200px;
  margin: 40px auto;
  padding: var(--padding-section);
  background-color: var(--color-bg-alt);
  border: var(--border-width-thick) solid var(--color-border);
  border-radius: var(--radius-lg);
}

.noticia-titulo {
  font-family: var(--font-title);
  color: var(--color-text-primary);
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 2px solid var(--color-outline);
  padding-bottom: 15px;
  margin-bottom: 20px;
}

/* Formulario */
.noticia-formulario {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  padding: var(--padding-card);
  margin-bottom: 40px;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-outline);
  border-radius: var(--radius-md);
}

.input-noticia {
  padding: 12px;
  background-color: var(--color-bg);
  color: var(--color-text-secondary);
  border: 1px solid var(--color-outline);
  border-radius: var(--radius-sm);
  font-family: var(--font-main);
  transition: border-color var(--transition-fast);
}

.input-noticia:focus {
  border-color: var(--color-border);
  outline: none;
  box-shadow: 0 0 5px var(--color-border);
}

#text-area-noticia{
  min-height: 120px;
  max-width: 1041px;
  resize: vertical;
}

.btn-publicar-noticia {
  cursor: pointer;
  margin-top: 1.1em;
  padding: var(--padding-button);
  font-family: var(--font-title);
  color: var(--color-bg-accent);
  background-color: var(--color-text-primary);
  text-transform: uppercase;
  border-radius: var(--radius-md);
  border: 2px solid var(--color-border);
  transition: var(--transition-fast);
}

.btn-publicar-noticia:hover {
  transform: translateY(-2px);
}

/* Lista de Noticias */
.lista-noticias {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tarjeta-noticia {
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-outline);
  border-radius: var(--radius-lg);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.tarjeta-noticia:hover {
  transform: translateY(-5px);
}

.noticia-imagen {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: fill;
  display: block;
  border-bottom: 1px solid var(--color-border);
}

.noticia-encabezado {
  font-family: var(--font-title);
  color: var(--color-text-secondary);
  font-size: 1.8rem;
  padding: 15px;
}

.noticia-texto-cuerpo {
  font-family: var(--font-main);
  color: var(--color-text-tertiary);
  padding: 15px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.noticia-fecha {
  font-family: var(--font-ornament);
  color: var(--color-text-primary);
  font-size: 0.9rem;
  padding: 15px;
  border-top: 1px dashed var(--color-outline);
  text-align: right;
  font-style: italic;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 600px) {
  .noticia-contenedor {
    padding: 15px;
    margin: 20px auto;
  }

  .noticia-titulo {
    font-size: 2rem;
  }
}
