.slider-carrusel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  opacity: 0;
  transform: scale(1.05);
  position: absolute;
  top: 0;
  left: 0;
}

.slide.activo {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  color: var(--color-border);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.overlay h2 {
  font-family: var(--font-main);
  color: var(--color-text-secondary);
  text-shadow: 0 0 8px var(--color-border);
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.overlay .button:hover {
  transform: scale(1.1);
  transform: translateY(-10%);
  color: var(--color-text-primary);
  transition: all var(--transition-medium) ease;
}

.nav-btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  background: transparent;
  border: none;
  color: var(--color-text-secondary);
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  color: var(--color-text-primary);
}

.nav-btn.izquierda {
  left: 25px;
}

.nav-btn.derecha {
  right: 25px;
}
